<!doctype html>
<html lang="en">
<head>

    <title>About Us</title>
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
    <nav>
        <div id="leftnav">
            <h1> <span style="color: #b3f0ff">Check</span>In</h1>
        </div>
        <div id="rightnav">
            <a href="register">Register</a>
            <a href="login">Login</a>
            <a href="../upload_file">Check-in</a>
            <a href="/search">Search</a>
            <a href="/home">Home</a>

        </div>
    </nav>
    <section>
        <br>
        <br>
        <br>
        <br>


        <table border="10" style="width: 100%;">
            <tr style="background: lightgray">
                <td colspan="2"><h1 style="text-align: center">About Us</h1></td>
            </tr>
            <tr>
                <td colspan="2"><p style="text-align: center"><i>Our team recently came up with an idea to create this page as many world disasters are occuring more and more frequently these days.
                This page is a way for people to stay connected no matter where they are in the world!</i></p></td>
            </tr>
            <tr style="background: #b3f0ff">
                <td colspan="2"><div style="text-align: center;"><img src="/static/stayconnected.png"></div></td>
            </tr>
            <tr style="background: lightgray">
                <td colspan="2"><h2 align="center">Description of Links in the Navigation Bar</h2></td>
            </tr>
            <tr>
                <td><h3 style="color: lightblue">Register</h3></td>
                <td>You must register before you can login and access the Check-In and Search features</td>
            </tr>
            <tr>
                <td><h3 style="color: lightblue">Login In</h3></td>
                <td>After you register, you must login to access the Check-In and Search features</td>
            </tr>
                <td><h3 style="color: lightblue">Check-In</h3></td>
                <td>Check in with your demographics and a brief description of how you are doing.  Feel free to upload
            a photo of yourself if you would like as well!</td>
            </tr>
            <tr>
                <td><h3 style="color: lightblue">Search</h3></td>
                <td>Search for someone you are concerned for.  Make sure that you know their first and last name!</td>
            </tr>
            <tr>
                <td><h3 style="color: lightblue">Home</h3></td>
                <td>Clicking Home at the top will take you back to the home page!</td>
            </tr>
        </table>

    </section>



</body>
</html>
