<!DOCTYPE html>
<html lang="en">
<head>

    <!--This is the tab name for the check in page-->
    <title>Check_In</title>
<link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
    <nav>
        <div id="leftnav">

            <h1> <span style="color: #b3f0ff">Check</span>In</h1>
        </div>
        <!--This is the navigation bar with the links to the other html pages-->
        <div id="rightnav">
            <a href="register">Register</a>
            <a href="signin">Login</a>
            <a href="../upload_file">Check-in</a>
            <a href="/search">Search</a>
            <a href="/home">Home</a>

        </div>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>

<h1 style="font-family:verdana,serif; text-align:center">Personal Data and Well-Being</h1>

<fieldset style="background-color:#b3f0ff;">

    <!--This is the well being form that the user would fill out with their information, and possibly upload a photo-->
<form action="/upload_file" method=POST >
    Insert Your Information
    <p><label for="firstname">First Name *</label><input name="firstname" id="firstname" placeholder="First Name" required></p>
    <p><label for="lastname">Last Name *</label><input  name="lastname" id="lastname" placeholder="Last Name" required></p>
    <p><label for="city">Enter Your City *</label><input  name="city" id="city" placeholder="City" required></p>
    <p><label for="state">Enter Your State *</label><input  name="state" id="state" placeholder="State" required></p>
    <p><label for="date">Enter Current Date*</label><input name="date" id="date" placeholder="Date" required></p>
    <p><label for="status">Provide Brief Status of Your Current Situation *</label>
        <input  name="status" id="status" placeholder="Status" required></p>
<br>
    <p><label for="photo">Upload Your Photo:</label>
        <input type="file"
               id="photo" name="photo"
               accept="image/png, image/jpg, image/gif"></p>


  <!--The button that would save the users form to a file that would store their inputted data-->
        <input type="submit" value="Save">

<hr>
    <!--This is the ordered lists letting the user know what files are allowed to be uploaded-->
<h3>Photo Types Allowed</h3 >
<ol>
    <li>GIF</li>
    <li>JPG</li>
    <li>PNG</li>
</ol>

</form>
</fieldset>

</body>
</html>